{% extends 'base.html' %}
{% load static %}
{% block contents %}
<br>
    <div class="row">
        {% for book in books %}
        <div class="col-sm-3">
            <div class="card">
                {% if book.cover_url %}
                <img src="{{ book.cover_url }}" alt="image">
                {% else %}
                <img src="{% static 'books/book.jpeg' %}" alt="image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <a href="{{ book.get_absolute_url }}" class="btn btn-primary">Edit</a>
                </div>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
{% endblock %}